*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Open Sans Condensed", sans-serif;
  font-size: 16px;
}

.container{
  width: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-service{
  width: 100px;
  min-width: 865px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
h2,h3{
  font-family: "Open Sans Condensed";
  font-weight: bold;
}

/* Site-header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-main-link{
  display: flex;

}

.sitenav{
  width: 497px;
  margin-right: 0;
  margin-left: 0;
}

.header-button:hover{
  c

}
.sitenav-list{
  margin-right: 32px;
  list-style: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;

}

.logo-img:hover{
  color: #DE2E54;
}

.sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-link:active{
  color: #DE2E54;
  opacity: 0.6;

}

.sitenav-list:last-child{
  margin-right: 0;
}

.sitenav-link{
  text-decoration: none;
  color: #222;
}



.main-link{
  text-decoration: none;
  background-color: #DE2E54;;
  color: #fff;
  padding: 12px 24px;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}

/* HERO */
.hero{
  background-color: #0EB4C1;
}

.hero-action{
  display: flex;
  justify-content: space-between;
}

.hero-info{
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;

}

.hero-info-heading{
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0;

}

.hero-info-text{
  width: 440px;
  padding-top: 16px;
  padding-bottom: 36px;
  margin: 0;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}

.hero-reg{
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-reg:hover{
  background-color:rgba(222, 46, 84, 0.8);
  border-color: rgba(222, 46, 84, 0.8);
}

.hero-reg:active{
  background-color: rgba(222, 46, 84, 0.6);

}

.hero-img{
  margin-top: 40px;
}


/* Site-services */

.service-heading{
  width: 133px;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 56px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.service-type-item{
  width: 865px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.service-type-item:last-child{
  padding-bottom: 60px;
}

.service-inner-info{
  width: 600px;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #444444;
}

.inner-info-heading{
  padding: 0;
  margin: 0;
}

.service-reg-box{
  width: 190px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}

.service-register{

  padding: 12px 24px;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  color: #FFFFFF;;
  text-decoration: none;
}

.service-register:hover{
  background: #FFFFFF;
  border: 2px solid #DE2E54;
  color: #DE2E54;
}

.service-register:active{
  background: #DE2E54;
  opacity: 0.6;
  border: 2px solid #DE2E54;
  color:#fff;
}

/* Footer-signin */
.footer-signin-link{
  color: #fff;
}


/* Footer */

.footer-link{
  display: flex;
  justify-content: space-between;

}

.footer-top{
  background-color: #0EB4C1;
}

.footer-singin{
  width: 365px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 40px;
}

.footer-singin-heading{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #FFFFFF;
}


.call-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}

.call-button-link{
  text-decoration: none;
  background-color: none;
  color: #FFFFFF;
  padding: 12px 24px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  text-transform: uppercase;
  margin-right: 40px;
}

.call-button-link:hover{
  background-color: #DE2E54;
  border-color: #DE2E54;

}

.call-button-link:active{
  background: #DE2E54;
  opacity: 0.6;
}

.logo-bottom:hover{
  background-color: #DE2E54;
}

.footer-action{
  display: flex;
  align-items: center;
}

.navbottom-list{
  list-style: none;
}

.navbottom-list{
  list-style: none;
}

.navbottom-link{
  text-decoration: none;
  color: #fff;
}

.navbottom-link:hover{
  color: #DE2E54;
}

.navbottom-link:active{
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-bottom{
  background-color: #222;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbottom-list{
  margin-right: 32px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}